.page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  box-sizing: border-box;

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
