.canvas-container {
  width: 384px; // 384px
  height: 384px; // 384px
  border: solid 2px #bfbfbf;
  position: relative;
  opacity: 0.8;
  background-image: linear-gradient(#bfbfbf 2px, transparent 2px),
    linear-gradient(90deg, #bfbfbf 2px, transparent 2px),
    linear-gradient(#bfbfbf 1px, transparent 1px),
    linear-gradient(90deg, #bfbfbf 1px, transparent 1px);
  background-size: 64px 64px, 64px 64px, 16px 16px, 16px 16px;
  background-position: -1px -1px, -1px -2px, -1px -1px, -1px -1px;
  box-sizing: border-box;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
